.wrapper {
    height: 500px;
    width: 800px;
    margin: auto;
    border: 1px solid black;
    overflow: hidden;
    background-color: black;
    color: white;
}

.slideshow-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

fieldset {
    height: 100%;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    margin: 0 10px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.active-slide {
    transform: translateX(0);
}

.prev-slide {
    transform: translateX(-100%);
}

.next-slide {
    transform: translateX(100%);
}