.list1 {
    list-style-type: circle;
    /* border: 3px dotted orange; */
    border-width: 2px;
    border-style: dotted;
    border-color: orange;
    /* border-radius: 20px; */
    border-radius: 20px 0 20px 0;
    /* border-top-left-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
}

.list2 {
    /* list-style-type: upper-roman; */
    list-style-type: none;
    list-style-image: url("../images/arror1.png");
}

.in {
    background-color: orange;
    list-style-position: inside;
}

.out {
    background-color: orange;
    list-style-position: outside;
}