* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(209, 206, 206);
}

.body {
    margin: auto;
    width: 60%;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 15px 15px 5px gray;
}

.body:hover {
    background-color: black;
    color: white;
    box-shadow: -15px 15px 5px gray;
}

h2 {
    margin-bottom: 10px;
}

table {
    background-color: blue;
    border: 2px solid;
    margin: auto;
}

td {
    border: 2px solid gray;
    background-color: aquamarine;
    color: red;
    padding: 5px;
}

p {
    margin: 0px;
}

p:hover {
    color: yellow;
    background-color: green;
    border: 2px solid red;
}