table {
    background-color: blue;
    border: 2px solid;
}

td {
    border: 2px solid gray;
    background-color: aquamarine;
    color: red;
    padding: 5px;
}

p {
    margin: 0px;
}

p:hover {
    color: yellow;
    background-color: green;
}