* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(209, 206, 206);
}

.body {
    margin: auto;
    width: 60%;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 15px;
    box-shadow: 15px 15px 5px gray;
}

.body:hover {
    background-color: white;
    color: black;
    box-shadow: -15px 15px 5px gray;
}

h2 {
    margin-bottom: 10px;
}

table {
    background-color: blue;
    border: 2px solid;
    margin: auto;
}

td {
    border: 2px solid gray;
    background-color: aquamarine;
    color: red;
    padding: 5px;
}

p {
    margin: 0px;
}

table p:hover {
    color: yellow;
    background-color: green;
    border: 2px solid red;
}

fieldset {
    border: 5px solid red;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
}

legend {
    font-size: larger;
    font-weight: bold;
    margin-left: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.divform {
    padding: 10px;
    border-bottom: 3px dashed lightgray;
}

label {
    font-size: large;
}

fieldset p {
    color: gray;
}

.fa-xmark {
    margin-left: 10px;
    margin-right: 10px;
    color: red;
}

.fa-circle {
    margin-left: 10px;
    margin-right: 10px;
    color: green;
}

h3 {
    margin: 15px 0px 15px 0px;
}

.text {
    text-align: center;
}

.stars {
    text-align: center;
}

img {
    cursor: pointer;
}

.carousel {
    background-image: url("Images/背景.jfif");
    background-position: center;
    border-radius: 10px;
    text-align: center;
    border: 1.5px solid darkgreen;
}

.carousel>legend {
    margin: 0;
    padding: 1px 0px 1px 10px;
    color: white;
    text-shadow: 7px 10px 9px darkgreen;
    font-size: 1.5em;
    background-color: rgba(0, 100, 0, 0.8);
    letter-spacing: 10px;
}

figure {
    width: 100%;
    /* max-width: 250px;
    max-height: 250px; */
    box-sizing: border-box;
    text-align: center;
}

figure>img {
    max-width: 400px;
    height: 266.667px;
    /* width: 100%; */
    border: 5px solid rgba(0, 100, 0, 0.8);
}

.nums {
    margin: 5px 0px 15px 0px;
}

.nums>span {
    font-weight: bold;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px 6px 1px 6px;
    margin: 0px 6px 0px 6px;
    color: antiquewhite;
    cursor: pointer;
}

.nums>span:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.actions>button {
    border: 1.5px solid darkgreen;
    border-radius: 3px;
    background-color: rgba(0, 100, 0, 0.5);
    margin: 0px 20px 0px 20px;
    padding: 3px 10px 3px 10px;
    color: bisque;
    cursor: pointer;
    font-size: 1.5em;
}

.actions>button:hover {
    background-color: rgba(0, 100, 0, 0.75);
}